<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <style>
        ul {
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Index Page</h1>

    <ul>
    	<li><a href="/view/registerPage">Register Page</a></li>
    	<li><a href="/view/loginPage">Login Page</a></li>
    	<li><a href="/view/postList">Post List</a></li>
        <li><a href="/view/createPost">Create Post</a></li>
        
        
        
    </ul>
</body>
</html>
